body {
    background-color: #000000;
    color: #ffffff;
}

.form-control {
    background-color: #333333;
    color: #ffffff;
    border-color: #555555;
}

.form-control:focus {
    background-color: #444444;
    border-color: #888888;
}

.btn-primary {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-primary:hover {
    background-color: #004085;
}